/*basic reset*/
* {margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*FORMATTAZIONE FONT E DOCUMENTO  */
body {
    line-height: 1.5;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:black;
  background-color: #476692;
  height:100%;
  width: 100%;
  overflow: hidden;
}
html{
  height:100%;
} 
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin:0;
}
h1{
  color: #476692 ;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin:0;
}
h3 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
h4 {
  color: #476692;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin:0;
}
h5{
color: #476692;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin:0;
  float: left;
}
hr{
  color: #476692;
  border-top: 2px solid #476692;
}
/*HEADE */
.topBar{
    height: 100px;
    background-color: #476692;
    border-bottom: #222;
    margin: 0;
  }
  #logo img{
    width:140px;
    height: auto;
      position:fixed;
      z-index: 19;
      left:30px;
      top:20px;
  }
/*form styles*/
#msform {
    width: 600px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 20px;
}
#msform .inputArea{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #476692;
}
label{
    float: left;
    color: #476692;
    font-family: 'Montserrat', sans-serif;
    align-content: flex-start;
    font-weight: 400;
}
#msform .action-button:hover, #msform .action-button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
::placeholder{
    color:#999;
    font-family: 'Montserrat', sans-serif;
}
.inputArea::before {
    content: 'Carica CV';
    display: inline-block;
    background: #fff;
    border: 1px solid #999;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    margin-right: -80px;
    border-radius: 20px;
  }
  .inputArea:hover::before {
    border-color: #476692;
    background-color: #476692;
    color: #fff;
  }
  .inputArea:active::before {
    background:#476692;
  }
  .inputArea:hover::after {
    background:#476692 !important;
  }
.inputWeb::-webkit-file-upload-button {
	visibility: hidden;
	display: inline-block;
    
  }

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #476692 ;
    font-weight: bold;
    color: white;
    border: 1px solid #476692;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    box-shadow: 2px 2px 2px #222222;
}
#msform .action-button:hover{
    background-color: #FFFFFF;
    color: #476692;
    border:1px solid #476692;
}
/*headings*/
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    margin-top: 5px;
}

.swal-button--danger {
  background-color: rgb(0, 181, 0) !important;
  border: 0px !important;
}

.swal-button--danger:hover {
  background-color: green !important;
  color: #FFFFFF !important;
  border:0px !important;
}

.swal-button--cancel {
  background-color: red !important;
  color: white !important;
}

.swal-button--cancel:hover {
  background-color: rgb(196, 3, 3) !important;
  color: white !important;
}

.swal-text {
  text-align: center;
  padding: 0 50px;
}
button.swal-button.swal-button--confirm {
  background: #476692;
  border: 1px solid #476692;
  
}

button.swal-button.swal-button--confirm:hover{
  background: #fff ;
  color: #476692;
  border: 1px solid #476692;
}


/*****box vale****/
.box-e-f{
  width: 600px;
  margin: 20px auto;
  text-align: left;
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  
}
.fullBox
{
  margin-top: 50px;
}
.valestart {
  text-align: center;
  animation: show 3s 1 ease-in-out;
}
.box-e-f{
  width: 600px;
  margin: 20px auto;
  text-align: left;
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  
}

.btn-inizia{
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 0.15rem;
  background:#476692;
  margin-left: 2px;
  cursor: pointer;
  display: block;
  margin:30px auto;
  align-items: center;
  color:#fff;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #222222;
}
.btn-inizia:hover{
  background-color: #fff;
  color:#476692;
}
.btn-inizia:focus{
  outline: none;
}