@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*FORMATTAZIONE FONT E DOCUMENTO  */

body {
	line-height: 1.5;
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color:black;
  background-color: #476692;
 height:100%;
}
html{
  height:100%;
} 
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin:0;
  color: #707070;;
}
h1{
  
    color: #476692 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin:0;
  }
  h2{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin:0;
  }
  h3{
    color: #476692;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin:0;
  }
  h4{
    color: #476692 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin:0;  
  }
h5{
    color: #476692 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin:0;
}
.topBar{
    height: 100px;
    background-color: #476692;
    border-bottom: #222;
    margin: 0;
  }
  #logo img{
    width:140px;
    height: auto;
      position:fixed;
      z-index: 19;
      left:30px;
      top:20px;
  
  }
  img{
      vertical-align: auto !important;
  }
  /****menu*****/
  .menu{
      position: absolute;
      top: 15px;
      right: 10px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  }
  .menu ul{
	margin: 0;
	padding: 0;
}
.menu ul {
	
	list-style: none;
    width: 100%;
   
}
.menu li {
	float: left;
	position: relative;
	width:auto;
}
.menu a {
	
	color: #707070;
	display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.menu li:hover a {
    
    color:#476692;
	
}


img.icon-menu {
    vertical-align: top;
    margin-right: 5px;
}


.list-group-item {
   
    display: inline-flex;
}

.tLast{
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.tLast-info-1{ 
    display:inline-flex;
}
h4.nome {
    line-height: 50px;
}


.tLast-info-2{
    display:inline-flex;
    text-align: left;
}


p.data {
    line-height: 50px;
    font-size: 12px;
    margin-left: 5px;
}
p.tipo-c {
    line-height: 50px;
    font-size: 12px;
    margin-left: 10px;
}
h5.tipo-c{
    line-height: 50px;
    font-size: 12px;
    margin-left: 10px;
}
h5.data{
    line-height: 50px;
    font-size: 12px;
    margin-left: 100px;
}
/******BOX CENTRALE***/

.boxTitle{
    height: 70px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    
}

.recInfo1{
    position: absolute;;
    top:10px;
    left:20px;
    display: inline-flex;
    
    
}
.recInfo1 h1{
    display: inline-flex;
   line-height: 50px;
   font-weight: 700;
}
.iconRec{
    margin-right: 10px;

}


.recInfo2{
    position: absolute;
    top:10px;
    right: 20px;
    display:inline-flex;
}

.lastAcc {
 display: -webkit-box;
 margin-right: 10px;
 line-height: 50px;
}
.lastAcc h4{
    line-height: 50px;
    margin-right: 5px;
    font-size: 16px;
}
.email{
    display: -webkit-box;
    line-height: 50px;
}
.email h4{
    line-height: 50px;
    margin-right: 5px;
    font-size: 16px;
}

.box-q{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    border-bottom: 2px solid #476692 !important;
    margin: 20px auto;
}
.btn-add{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 0.15rem;
    background:#fff;
    margin-left: 2px;
    cursor: pointer;
    display: block;
    margin:30px auto;
    align-items: center;
    color:#476692 ;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #222222;
  }
  .btn-add:hover
  {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 0.15rem;
    background:#fff;
    margin-left: 2px;
    cursor: pointer;
    display: block;
    margin:30px auto;
    align-items: center;
    color:#476692 ;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #222222;
  }
  .boxTitleQest{
      height: auto;
      width: 100%;
      margin: 20px auto;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); 
    padding: 20px;
    
  } 

  .boxform1{
    border: 0px;
    padding: 20px;
    height: 0;
    width: 100%;
    opacity:0;
    overflow: hidden;
    display: none;
    transition:  all 4s ease-in-out;
  }

  .boxformopen{
      height: auto !important;
      opacity: 1 !important;
      display: block !important;
      

  }

  .boxformopen1{
    height: auto !important;
    opacity: 1 !important;
    display: block !important;
    

}
  .boxform2{
    border: 0px;
    padding: 20px;
    height: 0;
    width: 100%;
    opacity:0;
    overflow: hidden;
    display: none;
    transition:  all 4s ease-in-out;
  }

 