{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACCESSO | Itconsulting.it</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
	<!-- CREDENTIALS.css -->
	<link rel="stylesheet" href="{% static 'css/credentials.css' %}" />


</head>

<body>

	<header class="topBar">
		<div id="logo">
			<a >
				<img src="{% static 'css/img/logo-top.png' %}" alt="LOGOITC">
			</a>

		</div>

	</header>
	<main>
		<div class="row ">
			<div class="col">
				<div class="row box-e-f" id="box-ef" >
					<div class="col-6 valestart">
					<img  src="{% static 'css/img/vale.png' %}" width="200px">
					</div>
					<div class="col-6 align-self-center">
					
						<h1>Ciao sono VALE ! <br></h1>
						<p  class="fs-subtitle" style="font-size:14px">
							Sono la tua Assistente Virtuale e ti aiuterò a sostenere un video-colloquio.
							Non temere, mettiti comodo e appena sei pronto iniziamo.
							 Potrai rispondere alle domande con un breve video, risposte a scelta multipla o risposte testuali. Le mie domande ti aiuteranno a conoscerci meglio. <br>
							 Iniziamo subito !!
						</p>
						
					</div>
					
					</div>
			</div>
			<div class="col">

				<form id="msform" name="msform">
					<!-- fieldsets -->
					<fieldset>
						<p class="fs-subtitle">Sono in corso le selezioni per l'accesso alle nostre Academy gratuite.
							Iniziamo subito!
							Presentati a V.A.L.E. con un Video-colloquio e valutiamo insieme il tuo PerCorso Professionale nel Settore Informatico.</p>
						<h1 class="fs-title">Credenziali Colloquio</h1>
						
						<label>Nome</label>
						<input name="firstname" class="inputArea"  type="text"  placeholder="Nome" required >
						<label>Cognome</label>
						<input name="lastname" class="inputArea" type="text"  placeholder="Cognome" required >
						<label>E-mail</label>
						<input name="email" class="inputArea" type="email" placeholder="Email" required >
						<label>Allega il tuo CV</label>
						<input name="file"  class="inputArea inputWeb" type="file" id="file" ref="file" 
							accept=".pdf" onchange="handleFileUpload()" required>
						<button id="saveBtn" type="button" class="submit action-button" onclick="saveData()">Inizia</button>
					
					</fieldset>
				</form>
			</div>
		</div>
	

		<script src="{% static './node_modules/axios/dist/axios.min.js' %}"></script>
		<script src="{% static 'js/credentials.js' %}"></script>
		<script src="{% static './node_modules/sweetalert/dist/sweetalert.min.js' %}"></script>

	</main>
</body>

</html>
