{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACCESSO | Itconsulting.it</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
	<!-- CREDENTIALS.css -->
	<link rel="stylesheet" href="{% static 'css/credentials.css' %}" />


</head>

<body>

	<header class="topBar">
		<div id="logo">
			<a >
				<img src="{% static 'css/img/logo-top.png' %}" alt="LOGOITC">
			</a>

		</div>

	</header>
	<main>
		<form id="msform">
			<!-- fieldsets -->
			<fieldset>
				<h1 class="fs-title">Credenziali Colloquio</h1>
				<p class="fs-subtitle">Grazie per averci scelto!</p>
				<label>Nome</label>
				<input id="firstname" class="Inputarea" type="text"  placeholder="Nome" required />
				<label>Cognome</label>
				<input id="lastname" class="Inputarea" type="text"  placeholder="Cognome" required />
				<label>E-mail</label>
				<input id="email" class="Inputarea" type="email" placeholder="Email" required />
				<button id="saveBtn" type="button" class="submit action-button" onclick="saveData()">Inizia</button>
			</fieldset>
		</form>

		<script src="{% static './node_modules/axios/dist/axios.min.js' %}"></script>
		<script src="{% static 'js/credentials.js' %}"></script>

	</main>
</body>

</html>
