{% load static %}

<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">
	<title>Video Interview | Itconsulting.it</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">

	<!-- CodeMirror css -->
	<link rel="stylesheet" href="{% static '/node_modules/codemirror/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static './node_modules/codemirror/theme/darcula.css' %}">

	<!-- Progressive bar CSS / Main.css -->
	<link rel="stylesheet" href="{% static 'css/dash-add-questions.css' %}">


</head>

<html oncontextmenu = "return false" onselectstart = "return false" ondragstart = "return false"> 

	<header class="topBar">
		<div id="logo">
			<a href="#">
				<img src="{% static 'css/img/logo-top.png' %}" alt="LOGOITC">
			</a>

		</div>

	</header>

<body>

    <main>
        <section class="container-fluid sez-1">
            <div class="boxTitle">
            <div class="recInfo1">
                <img class="iconRec"src="{% static 'css/icon/recruiter.svg' %}" heigt="50" width="50" alt="colloqui ">
                <h1>
                    {{ user.first_name }} {{ user.last_name}}
                </h1>
            </div>
            <div class="recInfo2">
            
            
            <div class="lastAcc"><h4>Ultimo accesso:</h4><p>{{ user.last_login }}</p></div>
            
            <div class="email">
                <h4>E-mail:</h4><p>{{ user.email }}</p>
            </div>
            
            </div>
            </div>

        <div class="container">
            <div class="row box-form">
                
                <div class="col">
                    <form id="msform" action="/add_question/" method="POST">
            
                        <div class="form-group">
             
                          <label for="type">Inserire il tipo di domanda:</label>
                            <select id="type" name="type" required onchange="onTypeSelected()">
                                <option value="" selected disabled hidden>Scegli uno di questi tipi</option>
                                <option value="video">Risposta video</option>
                                <option value="check">Scelta multipla</option>
                                <option value="code">Testo</option>
                            </select> <br>
                         
                           <label for="action" id="action_label" hidden>Inserire la domanda:</label>
                            <input id="action" type="text" name="action" required hidden> <br>
                    
                            <label for="length" id = "length_label" hidden>Scegli il numero di "check":</label>
                            <input type="number" name="length" id="length" required value="0" hidden> <br>

                            <label for="length" id = "lang_label" hidden>Seleziona il codice del linguaggio:</label>
                            <input type="number" name="lang" id="lang" required value="0" hidden> <br>
                            
                            <label for="choices" id="choices_label" hidden>Inserisci le scelte separandole con "<b>;</b>":</label>
                            <input type="text" name="choices" id="choices" hidden> <br>

                            <label for="is_fork" id="is_fork_label" hidden>Questa domanda sarà diramata?</label>
                            <input type="checkbox" name="is_fork" id="is_fork" hidden><br>

                            <div hidden id="box-parent"> 
                            {% for parent in questions %}
                                <br>
                                <label for="check_{{parent.id}}">{{parent.action|truncatechars:50}}</label>
                                <input type="checkbox" id="check_{{parent.id}}" name="check_parent" value="{{parent.id}}">
                            {% endfor %}           
                             </div>
            
                   <label for="choice_fork" id="choice_fork_label" hidden>Se il parent di questa domanda si dirama,a qual'è l ascelta che l'attiva?</label>
                    <input id="choice_fork" name="choice_fork" list="choices_enabled" hidden>
                    <datalist id="choices_enabled" >
                        {% for choice in choices %}
                            <option value="{{choice}}"></option>
                        {% endfor %}
                    </datalist> <br>
                    <input  class="action-button" type="submit" id="sendbtt" hidden>
                      </form>
                </div>
                <div class="col">
    
                </div>
            </div>
    
        </div>
        
    </main>

    <script>
        function onTypeSelected(){
            document.getElementById("action").hidden = false;
            document.getElementById("action_label").hidden = false;
            document.getElementById("is_fork").hidden = false;
            document.getElementById("is_fork_label").hidden = false;
            document.getElementById("box-parent").hidden = false;
            document.getElementById("choice_fork_label").hidden = false;
            document.getElementById("choice_fork").hidden = false;
            document.getElementById("sendbtt").hidden = false;
            if(document.getElementById("type").value === "check"){
                document.getElementById("length").hidden = false;
                document.getElementById("length_label").hidden = false;
                document.getElementById("choices").hidden = false;
                document.getElementById("choices_label").hidden = false;
            }else{
                document.getElementById("length").hidden = true;
                document.getElementById("length_label").hidden = true;
                document.getElementById("choices").hidden = true;
                document.getElementById("choices_label").hidden = true;
            }

            if(document.getElementById("type").value === "code"){
                document.getElementById("lang").hidden = false;
                document.getElementById("lang_label").hidden = false;
            }else{
                document.getElementById("lang").hidden = true;
                document.getElementById("lang_label").hidden = true;
            }
        }

    </script>
</body>
</html>

