{% load static %}

<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">
	<title>Video Interview | Itconsulting.it</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">

	<!-- CodeMirror css -->
	<link rel="stylesheet" href="{% static '/node_modules/codemirror/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static './node_modules/codemirror/theme/darcula.css' %}">

	<!-- Progressive bar CSS / Main.css -->
	<link rel="stylesheet" href="{% static 'css/dash-add-questions.css' %}">


</head>

<html oncontextmenu = "return false" onselectstart = "return false" ondragstart = "return false"> 

	<header class="topBar">
		<div id="logo">
			<a href="/dashboard" target="_parent">
				<img src="{% static 'css/img/logo-top.png' %}" alt="LOGOITC">
			</a>

        </div>
        <nav class="menu">
            <ul >
                <li><a href="/dashboard/" target="_parent"><img class="icon-menu "src="{% static 'css/icon/home.svg' %}" alt="domande">HOME</a></li>
                <li><a href="/dashboard/interviews" target="_parent"><img class="icon-menu"src="{% static 'css/icon/domande.svg' %}"  alt="colloqui ">GESTIONE COLLOQUI</a> </li>
              <li><a href="/logout/" target="_parent"><img class="icon-menu"src="{% static 'css/icon/log-out.svg' %}"  alt="colloqui ">LOG OUT</a></li>
            </ul>
          </nav>

	</header>

<body>

    <main>
        <section class="container-fluid sez-1">
            <div class="boxTitle">
            <div class="recInfo1">
                <img class="iconRec"src="{% static 'css/icon/recruiter.svg' %}" heigt="50" width="50" alt="colloqui ">
                <h1>
                    {{ user.first_name }} {{ user.last_name}}
                </h1>
            </div>
            <div class="recInfo2">
            
            
            <div class="lastAcc"><h4>Ultimo accesso:</h4><p>{{ user.last_login }}</p></div>
            
            <div class="email">
                <h4>E-mail:</h4><p>{{ user.email }}</p>
            </div>
            
            </div>
            </div>

        <div class="container">
            <div class="row">
                <a  href="/dashboard/interviews/{{id}}" target = "_parent"> <button class="btn-back"> torna dietro</button></a>
            </div>
            <div class="row box-form">
             
                <div class="col">
                    <form id="msform" action="/dashboard/interviews/{{id}}/add_question" method="POST" target="_parent">
                        <h1 style="margin-bottom: 10px;">Aggiungi una nuova domanda</h1>
                        {% csrf_token %}
                        <div class="form-group">
             
                          <label for="type">Inserire il tipo di domanda:</label>
                            <select class="styleinput" id="type" name="type" required onchange="onTypeSelected()">
                                <option value="" selected disabled hidden>Scegli uno di questi tipi</option>
                                <option value="video">Risposta video</option>
                                <option value="check">Scelta multipla</option>
                                <option value="code">Testo</option>
                            </select> <br>
                         
                           <label for="action" id="action_label" hidden>Inserire la domanda:</label>
                            <input class="styleinput" id="action" type="text" name="action" required hidden> <br>
                            <div hidden id="lang_box">
                                <label for="length" id = "lang_label" >Seleziona il codice del linguaggio:</label>
                                <input type="number" name="lang" id="lang" required value="0" > <br>
                            </div>
                            <div hidden id="choices_box">
                                <label for="length" id = "length_label" >Scegli il numero di "check":</label>
                                <input class="styleinput" type="number" name="length" id="length" required value="0" > <br>

                                <label for="choices" id="choices_label" >Inserisci le scelte separandole con "<b>;</b>":</label>
                                <input class="styleinput" type="text" name="choices" id="choices" > <br>
                            </div>
                            <label for="is_fork" id="is_fork_label" hidden>Questa domanda sarà diramata?</label>
                            <input class="styleinput" type="checkbox" name="is_fork" id="is_fork" hidden><br>

                            <div hidden id="box-parent"> 
                            {% for parent in questions %}
                                <br>
                                <label for="check_{{parent.id}}">{{parent.action|truncatechars:50}}</label>
                                <input class="styleinput" type="checkbox" id="check_{{parent.id}}" name="check_parent" value="{{parent.id}}">
                            {% endfor %}           
                             </div>
                             <br>
            
                   <label for="choice_fork" id="choice_fork_label" hidden>Se il parent di questa domanda si dirama,a qual'è l ascelta che l'attiva?</label><br>
                    <input class="styleinput" id="choice_fork" name="choice_fork" list="choices_enabled" hidden>
                    <datalist id="choices_enabled" >
                        {% for choice in choices %}
                            <option value="{{choice}}"></option>
                        {% endfor %}
                    </datalist> <br>
                    <input  class="btn-add" class="action-button" type="submit" id="sendbtt" hidden>
                      </form>
                </div>
                <div class="col">
    
                </div>
            </div>
    
        </div>
        
    </main>

    <script>
        function onTypeSelected(){
            document.getElementById("action").hidden = false;
            document.getElementById("action_label").hidden = false;
            document.getElementById("is_fork").hidden = false;
            document.getElementById("is_fork_label").hidden = false;
            document.getElementById("box-parent").hidden = false;
            document.getElementById("choice_fork_label").hidden = false;
            document.getElementById("choice_fork").hidden = false;
            document.getElementById("sendbtt").hidden = false;
            if(document.getElementById("type").value === "check"){
                document.getElementById("choices_box").hidden = false;
            }else{
                document.getElementById("choices_box").hidden = true;
            }

            if(document.getElementById("type").value === "code"){
                document.getElementById("lang_box").hidden = false;
            }else{
                document.getElementById("lang_box").hidden = true;
            }
        }

    </script>
</body>
</html>

