{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="topBar">
    <div id="logo">
        <a >
            <img src="{% static 'css/img/logo-top.png' %}" alt="LOGOITC">
        </a>

    </div>
    <nav class="menu">
        <ul >
            <li><a href="/dashboard/" active target="_parent"><img class="icon-menu "src="{% static 'css/icon/home-b.svg' %}" alt="domande">HOME</a></li>
                <li><a href="/dashboard/interviews" target="_parent"><img class="icon-menu"src="{% static 'css/icon/domande.svg' %}"  alt="colloqui ">GESTIONE COLLOQUI</a>  </li>
          <li><a href="/logout/" target="_parent"><img class="icon-menu"src="{% static 'css/icon/log-out.svg' %}"  alt="colloqui ">LOG OUT</a></li>
        </ul>
      </nav>



      
</header>
<main>


<div class="pannello">

<!---TITOLO CON INFO SUL RECRUTIER ---->
    <section class="container-fluid sez-1">
<div class="boxTitle">
<div class="recInfo1">
<img class="iconRec"src="{% static 'css/icon/recruiter.svg' %}" heigt="50" width="50" alt="colloqui ">
<h1>
    {{ user.first_name }} {{ user.last_name}}
</h1>
</div>
<div class="recInfo2">


<div class="lastAcc"><h4>Ultimo accesso:</h4><p> {{ user.last_login }} </p></div>

<div class="email">
<h4>E-mail:</h4><p> {{ user.email }}</p>
</div>

</div>
</div>


    </section>
<!---INFO SUI COLLOQUI ---->
        <section class="container-fluid sez-2">
        
            <div class="row boxInfo">

<!---ULTIMI COLLOQUI  ESAMINATI ---->
              <div class="col">
                  
                  <h2>COLLOQUI DISPONIBILI</h2>

                  <div class=" row list-group tLast">

                    {% for colloquio in colloqui %}
                        {% if colloquio.analyzed %}
                        <div class="col">
                            <a href="/dashboard/{{ colloquio.id }}" target = "_parent" class="list-group-item list-group-item-action">
                                <img src="{% static 'css/icon/colloqui-es.svg' %}"  alt="colloqui-esaminati ">
                                <h4 class="nome">{{ colloquio.user.firstname }} {{ colloquio.user.lastname }}</h4> 
                            </div>
                            <div class="col">
                            <h5 class="data" >Data:</h5><p class="data"> {{ colloquio.date }}</p>
                            <h5 class="tipo-c" >Tipo di colloqui:</h5><p class="tipo-c"> {{ colloquio.type.interview_name }}</p></a>
                            </div>
                     
                        {% else %}
                            <a href="/dashboard/{{ colloquio.id }}"  target = "_parent" class="list-group-item list-group-item-action">
                                <img src="{% static 'css/icon/colloqui-new.svg' %}" alt="colloqui-nuovi">
                                <h4 class="nome">{{ colloquio.user.firstname }} {{ colloquio.user.lastname }}</h4> 
                                <h5 class="data" >Data:</h5><p class="data"> {{ colloquio.date }}</p>
                            <h5 class="tipo-c" >Tipo di colloqui:</h5><p class="tipo-c"> {{ colloquio.type.interview_name }}</p></a>
                        {% endif %}
                    {% endfor %}
                  </div>
              </div>

              </div>
            </div>

        </section>

{% endblock %}