{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/tree.css' %}" />
    <title>
        Grafico domande
    </title>
</head>
<body>
    {{ graph }}
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
        }
    </script>
</body>
</html>
