{% extends 'base.html' %}

{% block content %}

<p>{{ esito }}</p>

<form action="/add_question/" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Insert new question:</legend>
        <br/><label for="type">Insert question type*:</label>
        <select id="type" name="type" required>
            <option value="" selected disabled hidden>Choose the type here</option>
            <option value="video">Request a video</option>
            <option value="check">Show multiple choises</option>
            <option value="code">Let user insert text</option>
        </select>

        <br/><label for="action">Insert the question text*:</label>
        <input id="action" type="text" name="action" required>

        <br/><label for="length">Change the number of choices if the type is "check"*:</label>
        <input type="number" name="length" id="length" required value="0"> 

        <br/><label for="choices">Insert the choices separated by a "<b>;</b>":</label>
        <input type="text" name="choices" id="choices">

        <br/><label for="is_fork">Is this question a fork? (Multiple child)</label>
        <input type="checkbox" name="is_fork" id="is_fork">

        <br/><label for="parent_list">Question parent:</label>
        <select id="parent_list" name="parent">
            <option value="" selected disabled hidden>Choose the parent here</option>
            {% for parent in questions %}
                <option value="{{parent.id}}">{{parent.action}}</option>
            {% endfor %}
        </select>

        <br/><label for="is_join">If this question have multiple parents (join), select the number of other parent. The one choosen before doesn't count.</label>
        <input type="number" name="is_join" id="is_join" required value="0"> 

        <br/><label for="choice_fork">If the parent is a fork, which choice trigger this question?</label>
        <input id="choice_fork" name="choice_fork" list="choices_enabled">
        <datalist id="choices_enabled">
            {% for choice in choices %}
                <option value="{{choice}}"></option>
            {% endfor %}
        </datalist>

        <br/><input type="submit">

        <br/> Fields marked with * are required.
    </fieldset>
</form>

{% endblock %}
